* {
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
}

.wrap {
  max-width: 1000px;
  text-align: center;
}

h1 {
  font-size: 80px;
  margin: 30px auto;
}

h3 {
  font-size: 30px;
}

#msg {
  font-size: 45px;
}


section {
  display: flex;
  justify-content: center;
}

h3, p {
  font-family: 'Roboto', sans-serif;
}
/****************************************************************
  Header styles
****************************************************************/

/****************************************************************
Button Styles (Play, Deal, New Game, WAR)
****************************************************************/
button {
  border-radius: 10px;
  background: #4141EB;
  box-shadow: 0 1px 0 #666, 0 1px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
  border: 0 none;
  color: white;
  font-size: 35px;
  padding: 8px 12px;
  margin: 0px 5px;
}

.input {
  display: flex;
  align-items: center;
  margin: 0 0 30px 0;
}

#dog, #cat {
  width: 200px;
  margin: 0px 100px;
}

.team-buttons {
  display: flex;
  justify-content: center;
}

#new-game {
  background: none;
  border: 0 none;
  color: #FF7070;
  text-decoration: underline;
  vertical-align: bottom;
  padding: 0;
  font-size: 20px;

}

#war-btn {
  background: #FF7070;
  border-radius: 100px;
  width: 175px;
  height: 175px;
  color: white;
  font-size: 60px;
  
}

/****************************************************************
  'War Zone' Styles (Counters, Main, Msg)
****************************************************************/
section.counters {
  font-weight: 300;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  max-width: 675px;
}

#p1Counter, #p2Counter {
  margin: 0;
}

.war-zone {
  padding: 0.5em;
  margin: 0 auto;
  max-width: 800px;
  height: 250px;
  display: flex;
  justify-content: center;

}

section.msg-center {
  flex-direction: column;
}

#msg {
  padding: 30px;
  font-weight: 700;
  font-size: 60px;
}

.hidden {
  display: none;
}

/****************************************************************
  Footer
****************************************************************/
footer {
  display: flex;
}


#new-game {
  margin: 0 auto;
}