* {
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../images/cats-dogs.png');
}

.wrap {
  width: 950px;
  text-align: center;
  min-height: 100%;
  margin-bottom: -30px;
  background-color: white;
}

.wrap:after {
  content: "";
  display: block;
}

footer, .wrap:after {
  height: 30px;
}

h1 {
  font-size: 80px;
  margin: 0 0 30px 0;
  background-color: #008CFF;
  padding: 40px 0;
  color: white;
}

section {
  display: flex;
  justify-content: center;
}

p {
  margin: 5px 0;
  font-family: 'Roboto', sans-serif;
}

/****************************************************************
Button Styles (Play, Deal, New Game, WAR)
****************************************************************/
button {
  border-radius: 10px;
  background: lightseagreen;
  box-shadow: 0 1px 0 #666, 0 1px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
  border: 0 none;
  color: white;
  font-size: 35px;
  padding: 8px 12px;
  margin: 0px 5px;
  transition: all .2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

.input {
  display: flex;
  align-items: center;
  margin: 5px 0 15px;
}

#dog, #cat {
  width: 200px;
  margin: 0px 70px;
}

.team-buttons {
  display: flex;
  justify-content: center;
}

#new-game {
  box-shadow: unset;
  background: none;
  border: 0 none;
  color: #FF7070;
  font-size: 20px;
  margin: 0 auto;
  padding: 2px;
}

#war-btn {
  background: #FF3535;
  border-radius: 100px;
  width: 175px;
  height: 175px;
  color: white;
  font-size: 60px;
}

/****************************************************************
  'War Zone' Styles (Counters, Main, Msg)
****************************************************************/
.counters {
  font-weight: 300;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  height: 30px;
  max-width: 675px;
}

#p1Counter, #p2Counter {
  margin: 0;
}

.war-zone {
  padding: 0.5em;
  margin: 0 auto;
  max-width: 800px;
  height: 200px;
  display: flex;
  justify-content: center;

}

#msg {
  padding: 30px;
  font-weight: 700;
  font-size: 45px;
  height: 10px;
}

.hidden {
  display: none;
}

/****************************************************************
  Footer
****************************************************************/
footer {
  display: flex;
}

/**************
wiggle
**************/

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: skewX(9deg);
  }
  10% {
    -webkit-transform: skewX(-8deg);
  }
  20% {
    -webkit-transform: skewX(7deg);
  }
  30% {
    -webkit-transform: skewX(-6deg);
  }
  40% {
    -webkit-transform: skewX(5deg);
  }
  50% {
    -webkit-transform: skewX(-4deg);
  }
  60% {
    -webkit-transform: skewX(3deg);
  }
  70% {
    -webkit-transform: skewX(-2deg);
  }
  80% {
    -webkit-transform: skewX(1deg);
  }
  90% {
    -webkit-transform: skewX(0deg);
  }
  100% {
    -webkit-transform: skewX(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: skewX(9deg);
  }
  10% {
    transform: skewX(-8deg);
  }
  20% {
    transform: skewX(7deg);
  }
  30% {
    transform: skewX(-6deg);
  }
  40% {
    transform: skewX(5deg);
  }
  50% {
    transform: skewX(-4deg);
  }
  60% {
    transform: skewX(3deg);
  }
  70% {
    transform: skewX(-2deg);
  }
  80% {
    transform: skewX(1deg);
  }
  90% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

.wiggle {
  -webkit-animation-name: wiggle;
  animation-name: wiggle;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.animated.wiggle {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}
